
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}

form {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    background-color: #FF9900;
    border-radius: 6px;
}

form button {
    width: 7%;
    background: #3299BB;
    border: none;
    padding: 10px;
    border-radius: 6px;
}


#chatWrapper{
    width: 100%;
}

#userListWrapper {
    float: right;
    width: 15%;
    padding: 5px 10px;
}

#userList{
    list-style-type: none;
}


#user_name {
    background-color: #E9E9E9;
}

#messages {
    width: 85%;
    height: 81vh;
    padding: 5px 10px;
    resize: none;
    border: none;
    border-right: black 1px solid;

}